<div id="changeBody">
    <div class="box" id="changeBox">
        <h1 class="titulo1" id="changeTitulo1"> Cambio de contraseña</h1>
        <p id="changeText"></p>
        <form id="changeForm" action="api/sessions/changePassword4" method="post">
            <input type="hidden" name="token" value="{{{userData.verifyEmail._id}}}">
            <p id="changeText">Escribe la nueva contraseña</p>
            <input class="inputs" id="changeInput" type="password" name="password1" placeholder="contraseña nueva" required="required">
            <p id="changeText">repite la nueva contraseña</p>
            <input class="inputs" id="changeInput" type="password" name="password2" placeholder="contraseña nueva" required="required">
            <button class="btn" id="changeBtn" type="submit">guardar clave</button>
        </form>
    </div>

</div>
<script>
document.getElementById('changeForm').addEventListener('submit', async function (e) {
    e.preventDefault();  // Evita el envío tradicional del formulario

    const password1 = document.querySelector('input[name="password1"]').value;
    const password2 = document.querySelector('input[name="password2"]').value;

    try {
        const response = await fetch('/api/sessions/changePassword4', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                password1,  // Envia la primera contraseña
                password2   // Envia la segunda contraseña
            })
        });

        const message = await response.text();  // Lee la respuesta como texto
        const p = document.getElementById('changeText')
        console.log(message)

        if (response.ok) {
            // Oculta el formulario y muestra el mensaje 
            document.getElementById('changeForm').style.display = 'none';
            p.innerText = message;  // Muestra el texto enviado por el servidor
            
        } else {
            document.getElementById('changeForm').style.display = 'none';
            p.innerText = message || 'Error al enviar el correo';
        }
    } catch (error) {
        document.getElementById('changeForm').style.display = 'none';
        console.error('Error al enviar el correo:', error);
        p.innerText = 'Error interno. Intenta más tarde.';
        
    }
});
</script>