<div id="changeBody">
    <div class="box" id="changeBox">
        <h1 class="titulo1" id="changeTitulo1"> Cambio de contraseña</h1>
        <p id="changeText">te enviaremos un link a tu correo para que puedas restablecer tu contraseña</p>
        <form id="changeForm" action="/api/sessions/changePassword2" method="post">
            <input class="inputs" id="changeInput" type="email" name="email" placeholder="Email" required="required">
            <button class="btn" id="changeBtn" type="submit">enviar mail</button>
        </form>
    </div>

</div>


<script>
document.getElementById('changeForm').addEventListener('submit', async function (e) {
    e.preventDefault();  // Evita el envío tradicional del formulario
    const email = document.getElementById('changeInput').value;

    try {
        const response = await fetch('/api/sessions/changePassword2', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        });

        const message = await response.text();  // Lee la respuesta como texto
        const p = document.getElementById('changeText')

        if (response.ok) {
            // Oculta el formulario y muestra el mensaje 
            document.getElementById('changeForm').style.display = 'none';
            p.innerText = message;  // Muestra el texto enviado por el servidor
            
        } else {
            document.getElementById('changeForm').style.display = 'none';
            p.innerText = message || 'Error al enviar el correo';
        }
    } catch (error) {
        document.getElementById('changeForm').style.display = 'none';
        console.error('Error al enviar el correo:', error);
        p.innerText = 'Error interno. Intenta más tarde.';
        
    }
});
</script>
